.header_Container{
    border: 1px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
  
    height: 75px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 0px 30px;
    background-color: rgb(240, 254, 255);
}

.header_Container img{
height: 40px;
width:160px;
}



.cartIcon{
    display: flex;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    padding: 0px 15px;  

}

 .counter {
    color: black;
    text-decoration: none;


}

sup{

    color: red;

}
